<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Component Library: Single Page</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window._checkoutData = {
        initial_data: {{{ initial_data }}},
        application_state: {{{ application_state }}},
        jwt_token: '{{ jwt_token }}',
        public_order_id: '{{ public_order_id }}',
        store_identifier: '{{ store_identifier }}'
      };
    </script>
    <script src="/js/checkout.js"></script>
  </body>
</html>